<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <title>Cleanit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link href="stylesheets/home-style.css" rel="stylesheet">
    </head>

<body>
    {{> navbar/nav}}
    {{{ body }}}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/posts.js"></script>

</html>