{{> navbar/nav}}
<<<<<<< HEAD

<div class="container">
  <h2>Recent Posts: </h2>
  <div>

    {{#each post}}
      {{> posts/post-block}}
    {{/each}}

  </div>
</div>



{{!-- Hacky way to get handlebars to execute a script if there is an error --}}
  {{#if msg}}
    <script{{loophole}}>alert("{{msg}}")</{{loophole}}script>
    <a href="/home"> An Error Has Occured. Click Here To Return Home. </a>
  {{/if}}

=======
<div class="container">
  <h2>Recent Posts: </h2>
  <div>
    {{#each post}}
    {{> posts/post-block}}
    {{/each}}
  </div>
</div>
>>>>>>> 3ede721680b76bb69a45a8cf2a91b897d5a8c8a2
