    {{> navbar/nav}}
<div class="container">
<h1>Create a Post: </h1>

<div class="form">
  <div class="form-wrap">
    <form class="create-form">

      <div class="form-group">
        <label class="cap-title" for="title">Submit a Post:</label>
        <input type="text" id="title" name="title" placeholder="Post Title" required>
        <textarea type="text" id="body" name="body" rows="10" cols="30" placeholder="Post Content..."></textarea>
      </div>

      <button class="post-submit-btn" type="submit">Submit</button>
    </form>
  </div>
</div>
</div>