<div class="single-post-container">

    <p class="d-inline">
        <span class="title">{{title}}</span>
        <span class="float-right author">Submitted by: {{User.email}}</span>
    </p>
    <hr>
    <p class="post-body">{{body}}</p>
    {{!-- Will add upvotes/downvotes --}}

</div>